<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/base}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
  </head>
  <body>
    <main layout:fragment="content">
        <div class="container my-4">
            <h2 class="fw-bold mb-4">Cart</h2>
        </div>
<!-- Toast Message -->
        <div class="toast show align-items-center text-white bg-danger border-0 position-fixed bottom-0 end-0 m-3" 
        role="alert" aria-live="assertive" aria-atomic="true"
        th:if="${success}" id="successToast">
            <div class="d-flex">
                <div class="toast-body">
                    <span th:text="${success}">Success message</span>
                    <div class="mt-2 pt-2 border-top">
                        <a href="/cart" class="btn btn-light btn-sm">See Cart</a>
                        <button type="button" class="btn btn-outline-light btn-sm" data-bs-dismiss="toast">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="toast show align-items-center text-white bg-danger border-0 position-fixed bottom-0 end-0 m-3" 
          role="alert" aria-live="assertive" aria-atomic="true"
          th:if="${warning}" id="successToast">
            <div class="d-flex">
                <div class="toast-body">
                    <span th:text="${warning}">Success message</span>
                    <div class="mt-2 pt-2 border-top">
                        <a href="/cart" class="btn btn-light btn-sm">See Cart</a>
                        <button type="button" class="btn btn-outline-light btn-sm" data-bs-dismiss="toast">Close</button>
                    </div>
                </div>
            </div>
        </div>
      <!-- list item  -->
      <div class="vstack gap-4 container" th:if="${cartsList.size() > 0}">
        <div class="border rounded-2 p-4" th:each="cart : ${cartsList}">
          <div
            class="d-flex flex-column flex-md-row justify-content-between align-items-start">
            <!-- KIRI -->
            <div>
              <h5 class="fw-semibold mb-1" th:text="${cart.getBook().getBook().title}"></h5>
              <span
                class="text-muted small"
                th:text="${cart.getBook().getCategory().name != null ? cart.getBook().getCategory().name : 'NoCategory'}">
              </span>
            </div>

            <!-- KANAN -->
            <div class="text-md-end mt-3 mt-md-0">
                <span
                    class="fw-semibold"
                    th:text="'Rp ' + ${#numbers.formatDecimal(cart.getBook().getBook().price, 0, 0)}">
                </span>
                <span
                    class="text-muted ms-2"
                    th:text="'(' + ${cart.getQuantity()} + ' pcs)'">
                </span>
                <div
                    class="fw-semibold mt-1"
                    th:text="'Rp ' + ${#numbers.formatDecimal(cart.getQuantity() * cart.getBook().getBook().price, 0, 0)}">
                </div>
                <form
                    th:action="@{/carts/delete/{id}(id=${cart.id})}"
                    method="post"
                    class="d-inline">
                    <button
                    type="submit"
                    class="btn btn-sm text-white mt-2 bg-primary"
                    onclick="return confirm('Are you sure you want to delete this book from cart?')">
                    Hapus Item
                    </button>
                </form>
            </div>
          </div>
        </div>
      </div>
      <!-- jika cart kosong -->
      <div th:if="${cartsList.size() == 0}"><h3 class="text-center mt-5 mb-5">Cart is empty!</h3></div>

      <!-- tombol checkout -->
       <div th:if="${cartsList.size() > 0}" class="container my-4 mb-5">
          <a class="btn w-100 text-white py-2 bg-primary" th:href="@{/checkouts}">Lanjutkan Pembayaran</a>
       </div>
    </main>
  </body>
</html>
